<article class="article-teaser">
    <div class="article-teaser__content">
        <h3 class="article-teaser__title">{{title}}</h3>
        <p class="article-teaser__description">{{description}}</p>
    </div>
    <div class="article-teaser__footer"><a href="{{link}}" class="article-teaser__readmore">Read more <span class="material-icons">arrow_right_alt</span></a></div>
</article>