<div class="light-toggle material-icons">lightbulb</div>
<script src="@@/script/script.js"></script>
<script src="@@/script/asciinema-player.js"></script>
<footer>
    <p>Propulsé par le projet Documentor, développé par Dunarr (William Lefebvre)</p>
    <p>Le code et le contenu de cette plateforme sont open source et mis à disposition sous <a href="https://gitlab.com/Dunarr/cours/-/blob/master/licence.md">licence CeCILL</a></p>
    <p>N'hésitez pas à proposer vos contributions et corrections au contenu, voir au moteur sur <a href="https://gitlab.com/Dunarr/cours">le dépôt</a></p>
</footer>
</body>
</html>
