<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="@@/style/marx.min.css">
    <link rel="stylesheet" href="@@/style/asciinema-player.css">
    <link rel="stylesheet" href="@@/style/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">

    <title>{{site_title}} - {{title}}</title>
</head>
<body>
<header>
    <nav>
        <ul>

            {{#menu}}
                <li><a href="{{link}}">{{label}}</a></li>
            {{/menu}}
        </ul>
    </nav>
</header>