.article-teaser {
  background-color: var(--code-background);
  padding: 15px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;

  &__archive {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: $breakpoint_small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $breakpoint_large) {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 10px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__footer {
    text-align: right;
  }

  &__readmore .material-icons {
    vertical-align: middle;
  }
}
