* {
  scroll-behavior: smooth;
}

a {
  font-weight: bold;
}

body {
  margin-top: 55px;
  background-color: var(--body-background);
  color: var(--text-color);

  &.light {
    --body-background: white;
    --code-background: #f8f8f8;
    --contrast-background: #f7f3f2;
    --contrast-color: #a19b9b;
    --text-color: rgba(0, 0, 0, .8);
  }

  &:not(.light) {
    --body-background: #232425;
    --code-background: #2b2b2b;
    --contrast-background: #1e1e1e;
    --contrast-color: gray;
    --text-color: #bfbfbf;
  }
}
main {
  position: relative;
  max-width: 900px;
}
main.large {
  max-width: 1140px;
  @media (min-width: $breakpoint_large) {
    padding: 30px;
  }
}

.main-title {
  background-color: var(--contrast-background);
  text-align: center;
  padding: 50px;
  font-size: 50px;

  &__description {
    font-size: 20px;
  }
}