
code, pre {
  background: inherit;
  color: inherit;
}
pre {
  padding: 16px 16px 0;
  white-space: pre;
  width: 100%;
  overflow: auto;
}

.langname{
  font-size: 10px;
  position: absolute;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: rgba(125,125,125,.3);
}

.asciinema-player {
  width: 100%;
}
.asciinema-theme-asciinema .asciinema-terminal {
  background: var(--code-background);
  border-color: var(--code-background);
  color: inherit;
  width: calc(100% - 10px)!important;

}

.hljs {
  margin-bottom: 20px;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

code:not(.langname){
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
}

body {
  &.light {
    @import "./code-themes/github";
  }

  &:not(.light) {
    @import "code-themes/darcula";
  }
}
