header {
  height: 55px;
  position: fixed;
  top: 0;
  background-color: var(--contrast-background);
  z-index: 25;
  transition: top .5s;
  &.hidden {
    top: -60px;
  }
  nav {
    margin: 0 auto;
    max-width: 768px;
    ul {
      margin: 0;
    }
    a {
      color: var(--text-color);
      padding: 15px;
      margin: 0 15px;
      display: block;
      &:hover, &:active, &:focus {
        border-bottom: 2px solid var(--contrast-color);
        color: var(--text-color);
        font-weight: 600;
        text-decoration: none;
      }
      &.active {
        border-bottom: 3px solid var(--text-color);
      }
    }
  }
  li {
    display: inline-block;
  }
}

.light-toggle {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--contrast-background);
  cursor: pointer;
  color: var(--text-color);
}