.chapters {
  position: sticky;
  top: 100px;
  left: 20px;
  width: 220px;
  float: left;
  @media (max-width: 1279px) {
    display: none;
  }
  &__link {
    display: block;
    color: var(--text-color);
    padding: 15px;
    margin: 5px 0;
    border-left: 2px solid var(--contrast-color);
    body.light & {
      background-color: var(--contrast-background);
    }
    &:hover, &:active, &:focus, &.active {
      border-left: 3px solid var(--text-color);
      text-decoration: none;
      color: var(--text-color);
      font-weight: 600;
    }
  }
}
