.tooltip {
  position: absolute;
  right: 0;
  top: 0;
  &-btn {
    background-color: var(--contrast-background);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-bubble {
    position: absolute;
    width: 80vw;
    background-color: var(--contrast-background);
    right: 0;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s 1s;
    .tooltip-btn:hover+&, &:hover{
      opacity: 1;
      pointer-events: auto;
      transition: all .3s 0s;
    }
  }
}