@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
* {
  scroll-behavior: smooth; }

a {
  font-weight: bold; }

body {
  margin-top: 55px;
  background-color: var(--body-background);
  color: var(--text-color); }
  body.light {
    --body-background: white;
    --code-background: #f8f8f8;
    --contrast-background: #f7f3f2;
    --contrast-color: #a19b9b;
    --text-color: rgba(0, 0, 0, .8); }
  body:not(.light) {
    --body-background: #232425;
    --code-background: #2b2b2b;
    --contrast-background: #1e1e1e;
    --contrast-color: gray;
    --text-color: #bfbfbf; }

main {
  position: relative;
  max-width: 900px; }

main.large {
  max-width: 1140px; }
  @media (min-width: 900px) {
    main.large {
      padding: 30px; } }

.main-title {
  background-color: var(--contrast-background);
  text-align: center;
  padding: 50px;
  font-size: 50px; }
  .main-title__description {
    font-size: 20px; }

header {
  height: 55px;
  position: fixed;
  top: 0;
  background-color: var(--contrast-background);
  z-index: 25;
  transition: top .5s; }
  header.hidden {
    top: -60px; }
  header nav {
    margin: 0 auto;
    max-width: 768px; }
    header nav ul {
      margin: 0; }
    header nav a {
      color: var(--text-color);
      padding: 15px;
      margin: 0 15px;
      display: block; }
      header nav a:hover, header nav a:active, header nav a:focus {
        border-bottom: 2px solid var(--contrast-color);
        color: var(--text-color);
        font-weight: 600;
        text-decoration: none; }
      header nav a.active {
        border-bottom: 3px solid var(--text-color); }
  header li {
    display: inline-block; }

.light-toggle {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 15px;
  border-radius: 50px;
  background-color: var(--contrast-background);
  cursor: pointer;
  color: var(--text-color); }

.chapters {
  position: sticky;
  top: 100px;
  left: 20px;
  width: 220px;
  float: left; }
  @media (max-width: 1279px) {
    .chapters {
      display: none; } }
  .chapters__link {
    display: block;
    color: var(--text-color);
    padding: 15px;
    margin: 5px 0;
    border-left: 2px solid var(--contrast-color); }
    body.light .chapters__link {
      background-color: var(--contrast-background); }
    .chapters__link:hover, .chapters__link:active, .chapters__link:focus, .chapters__link.active {
      border-left: 3px solid var(--text-color);
      text-decoration: none;
      color: var(--text-color);
      font-weight: 600; }

table {
  width: 100%; }

td:empty {
  border-top: none; }

td {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none; }

th, td {
  min-width: 200px; }

.tooltip {
  position: absolute;
  right: 0;
  top: 0; }
  .tooltip-btn {
    background-color: var(--contrast-background);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center; }
  .tooltip-bubble {
    position: absolute;
    width: 80vw;
    background-color: var(--contrast-background);
    right: 0;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s 1s; }
    .tooltip-btn:hover + .tooltip-bubble, .tooltip-bubble:hover {
      opacity: 1;
      pointer-events: auto;
      transition: all .3s 0s; }

code, pre {
  background: inherit;
  color: inherit; }

pre {
  padding: 16px 16px 0;
  white-space: pre;
  width: 100%;
  overflow: auto; }

.langname {
  font-size: 10px;
  position: absolute;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: rgba(125, 125, 125, 0.3); }

.asciinema-player {
  width: 100%; }

.asciinema-theme-asciinema .asciinema-terminal {
  background: var(--code-background);
  border-color: var(--code-background);
  color: inherit;
  width: calc(100% - 10px) !important; }

.hljs {
  margin-bottom: 20px;
  display: block;
  overflow-x: auto;
  padding: 0.5em; }

code:not(.langname) {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px; }

body.light {
  /*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/ }
  body.light .hljs {
    color: #333;
    background: #f8f8f8; }
  body.light code:not(.langname) {
    color: #333;
    background: #f8f8f8; }
  body.light .hljs-comment,
  body.light .hljs-quote {
    color: #998;
    font-style: italic; }
  body.light .hljs-keyword,
  body.light .hljs-selector-tag,
  body.light .hljs-subst {
    color: #333;
    font-weight: bold; }
  body.light .hljs-number,
  body.light .hljs-literal,
  body.light .hljs-variable,
  body.light .hljs-template-variable,
  body.light .hljs-tag .hljs-attr {
    color: #008080; }
  body.light .hljs-string,
  body.light .hljs-doctag {
    color: #d14; }
  body.light .hljs-title,
  body.light .hljs-section,
  body.light .hljs-selector-id {
    color: #900;
    font-weight: bold; }
  body.light .hljs-subst {
    font-weight: normal; }
  body.light .hljs-type,
  body.light .hljs-class .hljs-title {
    color: #458;
    font-weight: bold; }
  body.light .hljs-tag,
  body.light .hljs-name,
  body.light .hljs-attribute {
    color: #000080;
    font-weight: normal; }
  body.light .hljs-regexp,
  body.light .hljs-link {
    color: #009926; }
  body.light .hljs-symbol,
  body.light .hljs-bullet {
    color: #990073; }
  body.light .hljs-built_in,
  body.light .hljs-builtin-name {
    color: #0086b3; }
  body.light .hljs-meta {
    color: #999;
    font-weight: bold; }
  body.light .hljs-deletion {
    background: #fdd; }
  body.light .hljs-addition {
    background: #dfd; }
  body.light .hljs-emphasis {
    font-style: italic; }
  body.light .hljs-strong {
    font-weight: bold; }

body:not(.light) {
  /*

Darcula color scheme from the JetBrains family of IDEs

*/ }
  body:not(.light) .hljs {
    background: #2b2b2b;
    color: #bababa; }
  body:not(.light) code:not(.langname) {
    background: #2b2b2b;
    color: #bababa; }
  body:not(.light) .hljs-strong,
  body:not(.light) .hljs-emphasis {
    color: #a8a8a2; }
  body:not(.light) .hljs-bullet,
  body:not(.light) .hljs-quote,
  body:not(.light) .hljs-link,
  body:not(.light) .hljs-number,
  body:not(.light) .hljs-regexp,
  body:not(.light) .hljs-literal {
    color: #6896ba; }
  body:not(.light) .hljs-code,
  body:not(.light) .hljs-selector-class {
    color: #a6e22e; }
  body:not(.light) .hljs-emphasis {
    font-style: italic; }
  body:not(.light) .hljs-keyword,
  body:not(.light) .hljs-selector-tag,
  body:not(.light) .hljs-section,
  body:not(.light) .hljs-attribute,
  body:not(.light) .hljs-name,
  body:not(.light) .hljs-variable {
    color: #cb7832; }
  body:not(.light) .hljs-params {
    color: #b9b9b9; }
  body:not(.light) .hljs-string {
    color: #6a8759; }
  body:not(.light) .hljs-subst,
  body:not(.light) .hljs-type,
  body:not(.light) .hljs-built_in,
  body:not(.light) .hljs-builtin-name,
  body:not(.light) .hljs-symbol,
  body:not(.light) .hljs-selector-id,
  body:not(.light) .hljs-selector-attr,
  body:not(.light) .hljs-selector-pseudo,
  body:not(.light) .hljs-template-tag,
  body:not(.light) .hljs-template-variable,
  body:not(.light) .hljs-addition {
    color: #e0c46c; }
  body:not(.light) .hljs-comment,
  body:not(.light) .hljs-deletion,
  body:not(.light) .hljs-meta {
    color: #7f7f7f; }

.article-teaser {
  background-color: var(--code-background);
  padding: 15px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0; }
  .article-teaser__archive {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 500px) {
      .article-teaser__archive {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 900px) {
      .article-teaser__archive {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 10px; } }
  .article-teaser__title {
    margin-bottom: 20px; }
  .article-teaser__footer {
    text-align: right; }
  .article-teaser__readmore .material-icons {
    vertical-align: middle; }
