{{> header}}
<h1 class="main-title">Recherche</h1>
<main class="large">
    <input type="search" id="search-input" placeholder="Rechercher un cours...">
    <div class="tooltip">
        <div class="tooltip-btn">?</div>
        <div class="tooltip-bubble">
            Vous pouvez rechercher dans tous les contenus de la plateforme. <br>
            Vous pouvez ajouter + devant un terme pour le rendre obligatoire, ex: serveur +php <br>
            Vous pouvez ajouter - devant un terme pour l'exclure, ex: php -wordpress <br>
            Vous pouvez ajouter ~1 por faire une recherche approximative, ex: javascripte~1
        </div>
    </div>
    <div class="article-teaser__archive" id="search-result"></div>
</main>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script>
    const searchInput = document.getElementById("search-input")
    const searchResult = document.getElementById("search-result")

    function createExtract(text, words){
        const extractSize = 50 + Math.max(0, 60 - 20*words.length)
        const limits = words.map(({pos}) => [pos[0] - extractSize, pos[0]+pos[1]+extractSize])
        let merge = true
        while (merge) {
            merge = false
            for (const j in limits) {
                const limit = limits[j]
                for (let i in limits) {
                    const position = limits[i]
                    if (limit[0] >= position[0] && limit[0] <= position[1] && i!==j) {
                        if(limits[i][1]<limit[1]){
                            limits[i][1] = limit[1]
                        }
                        limits.splice(j,1)
                        merge = true
                        break
                    } else if (limit[1] >= position[0] && limit[1] <= position[1] && i!==j) {
                        if(limits[i][0]>limit[0]) {
                            limits[i][0] = limit[0]
                        }
                        limits.splice(j,1)
                        merge = true
                        break
                    }
                }
            }
        }
        const extracts = limits.map(([start, end]) => text.substring(start, end))
        let extract  = extracts.join("...")
        words.forEach(({word}) => {
            extract = extract.replaceAll(word, `<b>${word}</b>`)
        })
        return extract && `...${extract}...`
    }


    fetch("@/_index.json").then(res => res.json()).then(data => {
        const idx = lunr.Index.load(data.index)
        searchInput.addEventListener("input",()=> {
            searchResult.innerHTML = ""
            idx.search(searchInput.value).forEach(res=>{
                const page = data.pages[res.ref]
                const words = Object.entries(res.matchData.metadata).map(([word, meta]) => ({word, pos: meta.content.position[0]}))
                const extract = createExtract(page.content, words)
                searchResult.innerHTML+=`<article class="article-teaser">
    <div class="article-teaser__content">
        <h3 class="article-teaser__title">${page.title}</h3>
        <p class="article-teaser__description">${extract}</p>
    </div>
    <div class="article-teaser__footer"><a href="${page.path}" class="article-teaser__readmore">Read more <span class="material-icons">arrow_right_alt</span></a></div>
</article>`
            })

        })
    })
</script>
{{> footer}}