{{> header}}
{{> article-heading}}
<nav class="chapters">
    <ul>
        {{#chapters}}
            <li class="chapters__item"><a class="chapters__link" href="#{{slug}}">{{label}}</a></li>
        {{/chapters}}
    </ul>
</nav>
<main>
    {{content}}
</main>
{{> footer}}