{{> header}}
<h1 class="main-title">{{title}}</h1>
<main class="large">
    <div class="article-teaser__archive">
        {{#pages}}
            {{>article-teaser}}
        {{/pages}}
    </div>
</main>

{{> footer}}